In [1]:
import dash
import dash_html_components as html
import dash_core_components as dcc
import plotly.graph_objects as go
import plotly.express as px
from dash import Dash, dcc, html, Input, Output
import chart_studio.plotly as py
import plotly.graph_objs as go
import plotly.figure_factory as ff
import numpy as np
import seaborn as sns
import pearsonr
import pandas as pd
from pandas.io import gbq # to communicate with Google BigQuery

C:\Users\alekh\AppData\Local\Temp\ipykernel_26476\2075991059.py:2: UserWarning:
The dash_html_components package is deprecated. Please replace
`import dash_html_components as html` with `from dash import html`
  import dash_html_components as html
C:\Users\alekh\AppData\Local\Temp\ipykernel_26476\2075991059.py:3: UserWarning:
The dash_core_components package is deprecated. Please replace
`import dash_core_components as dcc` with `from dash import dcc`
  import dash_core_components as dcc

In [2]:
project_id = 'homework1-cloud-data-mining'

In [3]:
query=("""
        SELECT *
        FROM `bigquery-public-data.ncaa_basketball.mbb_games_sr`
        """)

In [4]:
mbb_games_sr = gbq.read_gbq(query, project_id=project_id)

In [5]:
mbb_games_sr

,game_id,season,status,coverage,neutral_site,scheduled_date,gametime,conference_game,tournament,tournament_type,...,a_fast_break_pts,a_second_chance_pts,a_team_turnovers,a_points_off_turnovers,a_team_rebounds,a_flagrant_fouls,a_player_tech_fouls,a_team_tech_fouls,a_coach_tech_fouls,created
0,b4451a02-26c5-4005-9ac8-b06c1f71e661,2015,closed,full,<NA>,2015-11-24,2015-11-24 21:30:00+00:00,<NA>,None,None,...,36,17,0,31,5,0,0,0,0,2018-02-20 15:48:58+00:00
1,b2f579ca-9eff-4b2b-a747-81169399c2e8,2015,closed,full,<NA>,2015-11-24,2015-11-24 02:00:00+00:00,<NA>,None,None,...,16,25,0,25,1,0,0,0,0,2018-02-20 15:48:53+00:00
2,571be71c-a5bf-446e-bf21-30eb6c54ac5e,2015,closed,full,<NA>,2015-11-25,2015-11-25 19:30:00+00:00,<NA>,None,None,...,6,6,0,12,0,0,0,0,0,2018-02-20 15:48:58+00:00
3,d6617923-0b23-49e4-af9b-9e4d0243e45c,2015,closed,full,<NA>,2015-12-19,2015-12-19 04:00:00+00:00,<NA>,None,None,...,2,13,1,15,3,0,0,0,0,2018-02-20 15:48:53+00:00
4,ffb463a4-dd3c-4ed9-b503-311b95ef0295,2015,closed,full,<NA>,2015-12-20,2015-12-20 04:00:00+00:00,<NA>,None,None,...,6,7,0,<NA>,0,0,0,0,0,2018-02-20 15:48:53+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29800,19be97d9-1756-41ac-a00f-e08c3ea5998a,2016,closed,extended_boxscore,True,2016-12-23,2016-12-23 20:00:00+00:00,False,None,None,...,0,4,0,17,3,0,0,<NA>,<NA>,2018-02-20 16:40:02+00:00
29801,ff822d88-b370-429a-bc3c-dcd7e45b6560,2016,closed,extended_boxscore,True,2016-12-22,2016-12-22 22:30:00+00:00,False,None,None,...,4,16,0,20,3,0,0,<NA>,<NA>,2018-02-20 16:40:00+00:00
29802,c1f96ff1-b0c2-49eb-9192-803bab3fe1ae,2016,closed,extended_boxscore,True,2016-12-23,2016-12-23 01:30:00+00:00,False,None,None,...,15,6,0,12,5,0,0,<NA>,<NA>,2018-02-20 16:39:59+00:00
29803,3850e646-a7b2-49f1-9446-407249f9e64a,2017,closed,extended_boxscore,True,2017-12-23,2017-12-23 01:30:00+00:00,False,None,None,...,3,3,0,17,4,0,0,<NA>,<NA>,2018-02-20 13:03:21+00:00
29804,a91d6bb6-0ec1-43b8-9d60-3d07a732982a,2017,closed,extended_boxscore,True,2017-11-25,2017-11-25 03:30:00+00:00,False,None,None,...,8,14,0,7,3,0,0,<NA>,<NA>,2018-02-20 13:03:24+00:00

In [6]:
a = mbb_games_sr.head(20)

In [7]:
a

,game_id,season,status,coverage,neutral_site,scheduled_date,gametime,conference_game,tournament,tournament_type,...,a_fast_break_pts,a_second_chance_pts,a_team_turnovers,a_points_off_turnovers,a_team_rebounds,a_flagrant_fouls,a_player_tech_fouls,a_team_tech_fouls,a_coach_tech_fouls,created
0,b4451a02-26c5-4005-9ac8-b06c1f71e661,2015,closed,full,<NA>,2015-11-24,2015-11-24 21:30:00+00:00,<NA>,None,None,...,36,17,0,31,5,0,0,0,0,2018-02-20 15:48:58+00:00
1,b2f579ca-9eff-4b2b-a747-81169399c2e8,2015,closed,full,<NA>,2015-11-24,2015-11-24 02:00:00+00:00,<NA>,None,None,...,16,25,0,25,1,0,0,0,0,2018-02-20 15:48:53+00:00
2,571be71c-a5bf-446e-bf21-30eb6c54ac5e,2015,closed,full,<NA>,2015-11-25,2015-11-25 19:30:00+00:00,<NA>,None,None,...,6,6,0,12,0,0,0,0,0,2018-02-20 15:48:58+00:00
3,d6617923-0b23-49e4-af9b-9e4d0243e45c,2015,closed,full,<NA>,2015-12-19,2015-12-19 04:00:00+00:00,<NA>,None,None,...,2,13,1,15,3,0,0,0,0,2018-02-20 15:48:53+00:00
4,ffb463a4-dd3c-4ed9-b503-311b95ef0295,2015,closed,full,<NA>,2015-12-20,2015-12-20 04:00:00+00:00,<NA>,None,None,...,6,7,0,<NA>,0,0,0,0,0,2018-02-20 15:48:53+00:00
5,1063177e-e168-4055-bdbf-a7fd1e33f398,2015,closed,full,<NA>,2016-03-17,2016-03-17 17:30:00+00:00,<NA>,NCAA,South Regional,...,8,11,0,18,2,0,0,0,0,2018-02-20 15:45:35+00:00
6,60b9ce90-41cb-4158-8038-1f9f80b374a5,2015,closed,full,<NA>,2016-03-18,2016-03-18 17:30:00+00:00,<NA>,NCAA,West Regional,...,12,9,0,4,1,0,0,0,0,2018-02-20 15:45:35+00:00
7,267af1b7-9c86-4561-bf63-7a379cdaae6d,2015,closed,full,<NA>,2016-03-18,2016-03-18 01:39:00+00:00,<NA>,NCAA,South Regional,...,12,11,1,22,2,0,1,0,0,2018-02-20 15:45:32+00:00
8,81c3cf79-5160-4afd-9f51-7ad8e679b6c1,2015,closed,full,<NA>,2016-01-04,2016-01-04 03:00:00+00:00,<NA>,None,None,...,2,17,1,5,6,0,0,0,0,2018-02-20 15:48:58+00:00
9,d9cf6c1e-2125-4dbe-9c34-d0f8de911b10,2015,closed,full,<NA>,2016-01-15,2016-01-15 04:00:00+00:00,<NA>,None,None,...,2,10,0,14,4,0,0,0,0,2018-02-20 15:48:54+00:00
10,c4e04822-4888-4ac1-b79f-183b9be8060f,2015,closed,full,<NA>,2016-02-13,2016-02-13 21:00:00+00:00,<NA>,None,None,...,2,6,0,23,0,0,0,0,0,2018-02-20 15:48:54+00:00
11,dab342a9-2f3b-4d23-90ef-3ab447df03d4,2015,closed,full,<NA>,2016-02-27,2016-02-27 21:30:00+00:00,<NA>,None,None,...,0,15,0,<NA>,3,0,0,0,0,2018-02-20 15:48:54+00:00
12,bbe55f73-0838-4cb3-bdde-c356377bc370,2015,closed,full,<NA>,2016-02-12,2016-02-12 04:00:00+00:00,<NA>,None,None,...,2,10,1,12,3,0,0,0,0,2018-02-20 15:48:54+00:00
13,2e6594c0-9ce4-4957-bf11-bef85181560e,2015,closed,full,<NA>,2015-12-13,2015-12-13 03:00:00+00:00,<NA>,None,None,...,0,10,3,9,7,0,0,0,0,2018-02-20 15:48:58+00:00
14,2cda20e4-c9f2-4275-9d34-0a6b2adf1c93,2015,closed,full,<NA>,2016-01-22,2016-01-22 04:00:00+00:00,<NA>,None,None,...,2,8,2,11,1,0,0,0,0,2018-02-20 15:48:54+00:00
15,2eb56ad1-1750-447b-bf2e-8d2806422283,2015,closed,full,<NA>,2016-02-26,2016-02-26 04:00:00+00:00,<NA>,None,None,...,2,10,0,8,3,0,0,0,0,2018-02-20 15:48:53+00:00
16,525e1f24-c3a9-4316-9808-7377509df91a,2015,closed,full,<NA>,2015-12-22,2015-12-22 04:00:00+00:00,<NA>,None,None,...,<NA>,9,2,6,5,0,0,0,0,2018-02-20 15:48:53+00:00
17,0a498458-b79f-412b-9eaf-1087a2109951,2015,closed,full,<NA>,2015-11-20,2015-11-20 04:30:00+00:00,<NA>,None,None,...,0,16,1,21,7,0,1,0,0,2018-02-20 15:48:54+00:00
18,ccf67704-32c7-4959-b5f8-318761a9ffef,2015,closed,full,<NA>,2016-01-02,2016-01-02 02:00:00+00:00,<NA>,None,None,...,2,13,2,6,2,0,0,0,0,2018-02-20 15:48:54+00:00
19,2eb18eda-57f2-44f4-a136-e3423aabad98,2015,closed,full,<NA>,2016-01-24,2016-01-24 04:00:00+00:00,<NA>,None,None,...,2,14,1,15,4,0,0,0,0,2018-02-20 15:48:53+00:00

In [8]:
query1 = ( """
        SELECT *
        FROM `bigquery-public-data.ncaa_basketball.mbb_historical_teams_seasons`
        """)

In [9]:
mbb_historical_teams_seasons = gbq.read_gbq(query1, project_id=project_id)

In [10]:
mbb_historical_teams_seasons

,season,market,name,team_code,team_id,alias,division,current_division,wins,losses,ties
0,1956,None,None,296,None,None,1,None,0,0,0
1,1903,None,None,137,None,None,1,None,7,0,0
2,1908,None,None,137,None,None,1,None,12,0,0
3,2006,None,None,28593,None,None,1,None,0,0,0
4,1908,None,None,479,None,None,1,None,13,0,0
...,...,...,...,...,...,...,...,...,...,...,...
54879,2014,"Penn State University, Altoona",Nittany Lions,25719,4a9523e6-20cf-4759-9b1c-00fdf5951194,PSMA,3,USCAA,5,20,0
54880,2010,"Penn State University, Altoona",Nittany Lions,25719,4a9523e6-20cf-4759-9b1c-00fdf5951194,PSMA,3,USCAA,4,21,0
54881,2011,"Penn State University, Altoona",Nittany Lions,25719,4a9523e6-20cf-4759-9b1c-00fdf5951194,PSMA,3,USCAA,3,22,0
54882,2001,"Penn State University, Altoona",Nittany Lions,25719,4a9523e6-20cf-4759-9b1c-00fdf5951194,PSMA,3,USCAA,4,22,0
54883,2002,"Penn State University, Altoona",Nittany Lions,25719,4a9523e6-20cf-4759-9b1c-00fdf5951194,PSMA,3,USCAA,2,25,0

In [11]:
b = mbb_historical_teams_seasons.head()

In [12]:
b

,season,market,name,team_code,team_id,alias,division,current_division,wins,losses,ties
0,1956,None,None,296,None,None,1,None,0,0,0
1,1903,None,None,137,None,None,1,None,7,0,0
2,1908,None,None,137,None,None,1,None,12,0,0
3,2006,None,None,28593,None,None,1,None,0,0,0
4,1908,None,None,479,None,None,1,None,13,0,0

In [13]:
query2=("""
        SELECT *
        FROM `bigquery-public-data.ncaa_basketball.mbb_teams_games_sr`
        """)

In [14]:
mbb_teams_games_sr = gbq.read_gbq(query2, project_id=project_id)

In [15]:
mbb_teams_games_sr

,game_id,season,status,coverage,neutral_site,scheduled_date,gametime,conference_game,tournament,tournament_type,...,opp_fast_break_pts,opp_second_chance_pts,opp_team_turnovers,opp_points_off_turnovers,opp_team_rebounds,opp_flagrant_fouls,opp_player_tech_fouls,opp_team_tech_fouls,opp_coach_tech_fouls,created
0,4069f80e-04f0-4f69-a563-86014bbe95a0,2015,closed,full,<NA>,2015-12-03,2015-12-03 03:00:00+00:00,<NA>,None,None,...,0,17,0,31,7,0,0,0,0,2018-02-20 15:48:54+00:00
1,7160a0e0-bbc3-46ad-afc6-e4e6b5b90a51,2015,closed,full,<NA>,2016-01-17,2016-01-17 02:00:00+00:00,<NA>,None,None,...,21,16,1,30,3,0,0,0,0,2018-02-20 15:48:54+00:00
2,320ccf7a-8a32-4ce6-a561-10687985c6a6,2015,closed,full,<NA>,2015-12-22,2015-12-22 20:00:00+00:00,<NA>,None,None,...,26,16,0,36,4,0,0,0,0,2018-02-20 15:48:53+00:00
3,1a689aee-fec2-49df-822d-993e2826744b,2017,closed,full,False,2017-12-10,2017-12-10 00:00:00+00:00,False,None,None,...,8,21,0,16,0,0,0,0,0,2018-02-20 13:03:23+00:00
4,6314105c-8456-4b35-bfbf-1ec04749ff09,2017,closed,full,False,2017-12-09,2017-12-09 21:00:00+00:00,False,None,None,...,8,15,0,19,2,0,0,0,0,2018-02-20 13:03:24+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59605,a8108d95-df76-4cd7-a5ea-f53b460f7355,2017,closed,extended_boxscore,False,2017-11-12,2017-11-12 02:00:00+00:00,False,None,None,...,55,21,0,54,4,0,0,<NA>,<NA>,2018-02-20 13:03:27+00:00
59606,5ce0b174-b477-4ac3-a029-d0cc17c3f20c,2016,closed,extended_boxscore,False,2016-11-23,2016-11-23 00:00:00+00:00,False,None,None,...,4,0,0,24,0,0,0,<NA>,<NA>,2018-02-20 16:39:59+00:00
59607,dd95c82f-12c3-4192-81af-8e948210ac8f,2016,closed,extended_boxscore,True,2016-12-15,2016-12-15 01:00:00+00:00,False,None,None,...,18,16,0,15,4,0,0,<NA>,<NA>,2018-02-20 16:39:59+00:00
59608,cd371cad-2364-4203-8fd8-b5b861cbceae,2016,closed,extended_boxscore,True,2017-01-31,2017-01-31 02:00:00+00:00,False,None,None,...,8,19,0,16,1,0,0,<NA>,<NA>,2018-02-20 16:39:59+00:00
59609,05b2661d-7cb0-47fa-a5a8-899c4add2490,2017,closed,extended_boxscore,True,2017-12-16,2017-12-16 23:45:00+00:00,False,None,None,...,11,13,0,15,6,0,2,<NA>,<NA>,2018-02-20 13:03:21+00:00

In [16]:
c = mbb_teams_games_sr.head(10)

In [17]:
c

,game_id,season,status,coverage,neutral_site,scheduled_date,gametime,conference_game,tournament,tournament_type,...,opp_fast_break_pts,opp_second_chance_pts,opp_team_turnovers,opp_points_off_turnovers,opp_team_rebounds,opp_flagrant_fouls,opp_player_tech_fouls,opp_team_tech_fouls,opp_coach_tech_fouls,created
0,4069f80e-04f0-4f69-a563-86014bbe95a0,2015,closed,full,<NA>,2015-12-03,2015-12-03 03:00:00+00:00,<NA>,None,None,...,0,17,0,31,7,0,0,0,0,2018-02-20 15:48:54+00:00
1,7160a0e0-bbc3-46ad-afc6-e4e6b5b90a51,2015,closed,full,<NA>,2016-01-17,2016-01-17 02:00:00+00:00,<NA>,None,None,...,21,16,1,30,3,0,0,0,0,2018-02-20 15:48:54+00:00
2,320ccf7a-8a32-4ce6-a561-10687985c6a6,2015,closed,full,<NA>,2015-12-22,2015-12-22 20:00:00+00:00,<NA>,None,None,...,26,16,0,36,4,0,0,0,0,2018-02-20 15:48:53+00:00
3,1a689aee-fec2-49df-822d-993e2826744b,2017,closed,full,False,2017-12-10,2017-12-10 00:00:00+00:00,False,None,None,...,8,21,0,16,0,0,0,0,0,2018-02-20 13:03:23+00:00
4,6314105c-8456-4b35-bfbf-1ec04749ff09,2017,closed,full,False,2017-12-09,2017-12-09 21:00:00+00:00,False,None,None,...,8,15,0,19,2,0,0,0,0,2018-02-20 13:03:24+00:00
5,8240dd38-a137-492d-9468-4f9b11ac4927,2016,closed,full,False,2016-12-10,2016-12-10 22:00:00+00:00,False,None,None,...,8,24,0,22,1,0,0,0,0,2018-02-20 16:40:00+00:00
6,6f5cd292-3a1a-4677-9c78-0549fbfc4b72,2016,closed,full,False,2016-11-12,2016-11-12 22:00:00+00:00,False,None,None,...,10,12,0,33,0,0,0,0,0,2018-02-20 16:40:00+00:00
7,7a006cde-d6a6-4529-afb5-525888f2dce8,2017,closed,full,False,2018-02-14,2018-02-14 01:00:00+00:00,False,None,None,...,16,9,0,24,2,0,0,0,0,2018-02-20 13:03:26+00:00
8,cc33cbca-af83-494e-9439-9e2eacb73a01,2015,closed,full,<NA>,2015-11-24,2015-11-24 23:00:00+00:00,<NA>,None,None,...,2,10,0,12,1,0,0,0,0,2018-02-20 15:48:54+00:00
9,e47423e9-a204-450d-b622-b28bce4b7877,2015,closed,full,<NA>,2015-12-13,2015-12-13 03:00:00+00:00,<NA>,None,None,...,2,14,2,2,3,0,1,0,0,2018-02-20 15:48:53+00:00

In [18]:
query3=("""
        SELECT *
        FROM `bigquery-public-data.ncaa_basketball.mbb_historical_tournament_games`
        """)

In [19]:
mbb_tournament_sr = gbq.read_gbq(query3, project_id=project_id)

In [20]:
mbb_tournament_sr

,season,round,days_from_epoch,game_date,day,win_seed,win_region,win_market,win_name,win_alias,...,lose_market,lose_name,lose_alias,lose_team_id,lose_school_ncaa,lose_code_ncaa,lose_kaggle_team_id,lose_pts,num_ot,academic_year
0,1994,16,8849,1994-03-25,Friday,09,W,Boston College,Eagles,BC,...,Indiana,Hoosiers,IND,c3f0a8ce-af67-497f-a750-3b859376b20a,Indiana,306,1231,68,0,1993
1,2007,64,13587,2007-03-15,Thursday,07,W,Boston College,Eagles,BC,...,Texas Tech,Red Raiders,TTU,f8c705b7-87d3-411a-9c8b-5124daab0469,Texas Tech,700,1403,75,0,2006
2,2001,64,11396,2001-03-15,Thursday,03,W,Boston College,Eagles,BC,...,Southern Utah,Thunderbirds,SUU,c7116621-45ed-4ab1-9ad9-dee524120569,Southern Utah,667,1381,65,0,2000
3,1994,64,8842,1994-03-18,Friday,09,W,Boston College,Eagles,BC,...,Washington State,Cougars,WSU,2d4f0015-adb4-4877-8c15-4a6eed7eed03,Washington St.,754,1450,64,0,1993
4,1994,32,8844,1994-03-20,Sunday,09,W,Boston College,Eagles,BC,...,North Carolina,Tar Heels,UNC,e9ca48b2-00ba-41c0-a02b-6885a2da1ff1,North Carolina,457,1314,72,0,1993
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2112,2006,64,13223,2006-03-16,Thursday,07,Z,Wichita State,Shockers,WICH,...,Seton Hall,Pirates,HALL,aef5e386-d8e8-460c-8014-3a2f090fd988,Seton Hall,635,1371,66,0,2005
2113,2013,32,15787,2013-03-23,Saturday,09,Z,Wichita State,Shockers,WICH,...,Gonzaga,Bulldogs,GONZ,2f4d21f8-6d5f-48a5-abca-52a30583871a,Gonzaga,260,1211,70,0,2012
2114,2017,64,17242,2017-03-17,Friday,10,Z,Wichita State,Shockers,WICH,...,Dayton,Flyers,DAY,632616c5-2dbb-4017-a449-c9dfc303f026,Dayton,175,1173,58,0,2016
2115,2013,8,15794,2013-03-30,Saturday,09,Z,Wichita State,Shockers,WICH,...,Ohio State,Buckeyes,OSU,857462b3-0ab6-4d26-9669-10ca354e382b,Ohio St.,518,1326,66,0,2012
2116,2016,64,16877,2016-03-17,Thursday,12,Z,Yale,Bulldogs,YALE,...,Baylor,Bears,BAY,db6e1cab-3fa3-4a93-a673-8b2a358ff4bf,Baylor,51,1124,75,0,2015

In [21]:
d = mbb_tournament_sr.head(10)

In [22]:
d

,season,round,days_from_epoch,game_date,day,win_seed,win_region,win_market,win_name,win_alias,...,lose_market,lose_name,lose_alias,lose_team_id,lose_school_ncaa,lose_code_ncaa,lose_kaggle_team_id,lose_pts,num_ot,academic_year
0,1994,16,8849,1994-03-25,Friday,09,W,Boston College,Eagles,BC,...,Indiana,Hoosiers,IND,c3f0a8ce-af67-497f-a750-3b859376b20a,Indiana,306,1231,68,0,1993
1,2007,64,13587,2007-03-15,Thursday,07,W,Boston College,Eagles,BC,...,Texas Tech,Red Raiders,TTU,f8c705b7-87d3-411a-9c8b-5124daab0469,Texas Tech,700,1403,75,0,2006
2,2001,64,11396,2001-03-15,Thursday,03,W,Boston College,Eagles,BC,...,Southern Utah,Thunderbirds,SUU,c7116621-45ed-4ab1-9ad9-dee524120569,Southern Utah,667,1381,65,0,2000
3,1994,64,8842,1994-03-18,Friday,09,W,Boston College,Eagles,BC,...,Washington State,Cougars,WSU,2d4f0015-adb4-4877-8c15-4a6eed7eed03,Washington St.,754,1450,64,0,1993
4,1994,32,8844,1994-03-20,Sunday,09,W,Boston College,Eagles,BC,...,North Carolina,Tar Heels,UNC,e9ca48b2-00ba-41c0-a02b-6885a2da1ff1,North Carolina,457,1314,72,0,1993
5,1985,64,5552,1985-03-15,Friday,02,W,Georgia Tech,Yellow Jackets,GT,...,Mercer,Bears,MER,a14b0057-8eb5-43d2-a33b-666196da933e,Mercer,406,1273,58,0,1984
6,1988,64,6651,1988-03-18,Friday,05,W,Georgia Tech,Yellow Jackets,GT,...,Iowa State,Cyclones,ISU,0e4258fa-3154-4c16-b693-adecab184c6c,Iowa St.,311,1235,78,0,1987
7,2005,64,12860,2005-03-18,Friday,05,W,Georgia Tech,Yellow Jackets,GT,...,George Washington,Colonials,GW,d52c3640-069c-4554-982e-e6537c8044f1,George Washington,249,1203,68,0,2004
8,1985,32,5554,1985-03-17,Sunday,02,W,Georgia Tech,Yellow Jackets,GT,...,Syracuse,Orange,SYR,8cd24de1-2be8-4b77-bcfa-47be0495a5f4,Syracuse,688,1393,53,0,1984
9,1985,16,5558,1985-03-21,Thursday,02,W,Georgia Tech,Yellow Jackets,GT,...,Illinois,Fighting Illini,ILL,150148c2-ca8f-414f-8f41-d94a55d4a122,Illinois,301,1228,53,0,1984

In [23]:
query4 =("""
        SELECT *
        FROM `bigquery-public-data.ncaa_basketball.mbb_players_games_sr`
        """)
mbb_players_sr = gbq.read_gbq(query4, project_id=project_id)
mbb_players_sr.head(5)

,game_id,season,neutral_site,scheduled_date,gametime,tournament,tournament_type,tournament_round,tournament_game_no,player_id,...,assists,turnovers,steals,blocks,assists_turnover_ratio,personal_fouls,tech_fouls,flagrant_fouls,points,sp_created
0,14ab9c26-b586-4f68-8989-f433bb3a3e7f,2017,False,2017-11-22,2017-11-22 00:00:00+00:00,None,None,None,None,b8df0122-7f1e-4189-a47b-1e08050bf6c6,...,<NA>,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,2018-02-20 13:03:24+00:00
1,64667cdd-9379-4ecc-877a-3fb4d76fbff2,2017,False,2017-12-19,2017-12-19 01:00:00+00:00,None,None,None,None,2036297a-f0e1-4d65-8cc2-94d3d4de314f,...,<NA>,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,2018-02-20 13:03:27+00:00
2,fcc2decd-b14f-4fed-8a78-8856c6689c74,2017,False,2017-11-12,2017-11-12 18:00:00+00:00,None,None,None,None,c367fd91-183a-4d7d-9307-b8a289cb7bc9,...,<NA>,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,2018-02-20 13:03:23+00:00
3,7cda8dca-e87b-4b4e-9eed-68cfba948957,2017,False,2017-11-26,2017-11-26 21:30:00+00:00,None,None,None,None,0ca3800d-fb89-4151-90c0-a3e03835fd04,...,<NA>,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,2018-02-20 13:03:26+00:00
4,b3b15b00-c5a6-4239-9c99-713ebe01b8c7,2017,False,2018-01-24,2018-01-24 01:00:00+00:00,None,None,None,None,269dc916-2208-40e2-a5ee-062a38a3a00d,...,<NA>,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,2018-02-20 13:03:21+00:00

In [24]:
q1 = ("""SELECT
  event_type,
  COUNT(*) AS event_count
FROM `bigquery-public-data.ncaa_basketball.mbb_pbp_sr`
GROUP BY 1
ORDER BY event_count DESC""")

In [25]:
evts_type = gbq.read_gbq(q1, project_id=project_id)

In [26]:
evts_type

               event_type  event_count
0                 rebound       790490
1            twopointmiss       425422
2                turnover       410166
3            twopointmade       400648
4           freethrowmade       316637
5                  assist       293403
6          threepointmiss       291935
7            personalfoul       243613
8            shootingfoul       183541
9          threepointmade       153967
10          freethrowmiss       134256
11                  block        81863
12         attemptblocked        81863
13              tvtimeout        79960
14            teamtimeout        63613
15               deadball        55249
16          offensivefoul        48713
17           lineupchange        35926
18              endperiod        23128
19                opentip        11133
20        officialtimeout         7528
21            openinbound         6847
22               jumpball         6157
23          technicalfoul         6050
24                 review         3370
25            flagrantone         1778
26               kickball         1660
27           substitution          466
28             possession          390
29          laneviolation          242
30            flagranttwo          118
31     minortechnicalfoul           89
32                  delay           60
33               ejection           53
34          clearpathfoul           53
35  defensivethreeseconds            4
36              freethrow            2

In [27]:
q2 = """SELECT
  scheduled_date,
  name,
  market,
  alias,
  three_points_att,
  three_points_made,
  three_points_pct,
  opp_name,
  opp_market,
  opp_alias,
  opp_three_points_att,
  opp_three_points_made,
  opp_three_points_pct,
  (three_points_made + opp_three_points_made) AS total_threes
FROM `bigquery-public-data.ncaa_basketball.mbb_teams_games_sr`
WHERE season > 2015
ORDER BY total_threes DESC
LIMIT 5"""

In [28]:
most_3_pts = gbq.read_gbq(q2, project_id=project_id)

In [29]:
most_3_pts

,scheduled_date,name,market,alias,three_points_att,three_points_made,three_points_pct,opp_name,opp_market,opp_alias,opp_three_points_att,opp_three_points_made,opp_three_points_pct,total_threes
0,2016-11-18,Tigers,Savannah State,SAV,52,24,46.2,Knights,Middle Georgia,MGC,38,16,42.1,40
1,2016-11-18,Knights,Middle Georgia,MGC,38,16,42.1,Tigers,Savannah State,SAV,52,24,46.2,40
2,2016-11-22,Tigers,Savannah State,SAV,45,23,51.1,Wildcats,Fort Valley State,FVSU,39,14,35.9,37
3,2016-11-22,Wildcats,Fort Valley State,FVSU,39,14,35.9,Tigers,Savannah State,SAV,45,23,51.1,37
4,2017-12-10,Skyhawks,Tennessee-Martin,UTM,35,15,42.9,Cougars,Cincinnati Clermont,CINC,51,21,41.2,36

In [30]:
q3 = """SELECT
  venue_name, venue_capacity, venue_city, venue_state
FROM `bigquery-public-data.ncaa_basketball.mbb_teams_games_sr`
GROUP BY 4,3,2,1
ORDER BY venue_capacity DESC
LIMIT 5"""

In [31]:
high_seating = gbq.read_gbq(q3, project_id=project_id)

In [32]:
high_seating

                      venue_name  venue_capacity    venue_city venue_state
0                   AT&T Stadium           80000     Arlington          TX
1  University of Phoenix Stadium           72220      Glendale          AZ
2                    NRG Stadium           71054       Houston          TX
3                   Georgia Dome           71000       Atlanta          GA
4              Lucas Oil Stadium           70000  Indianapolis          IN

In [33]:
q4 = """SELECT
  scheduled_date,
  name,
  market,
  alias,
  points_game AS team_points,
  opp_name,
  opp_market,
  opp_alias,
  opp_points_game AS opposing_team_points,
  points_game + opp_points_game AS point_total
FROM `bigquery-public-data.ncaa_basketball.mbb_teams_games_sr`
WHERE season > 2015
ORDER BY point_total DESC
LIMIT 5"""

In [34]:
high_score = gbq.read_gbq(q4, project_id=project_id)

In [35]:
high_score

,scheduled_date,name,market,alias,team_points,opp_name,opp_market,opp_alias,opposing_team_points,point_total
0,2017-02-10,Terriers,Wofford,WOF,131,Bulldogs,Samford,SAM,127,258
1,2017-02-10,Bulldogs,Samford,SAM,127,Terriers,Wofford,WOF,131,258
2,2017-02-04,Eagles,Eastern Washington,EWU,130,Vikings,Portland State,PRST,124,254
3,2017-02-04,Vikings,Portland State,PRST,124,Eagles,Eastern Washington,EWU,130,254
4,2016-12-03,Seahawks,North Carolina-Wilmington,UNCW,126,Falcons,Pfeiffer,PU,113,239

In [36]:
win_seed_sort = mbb_tournament_sr[mbb_tournament_sr['round'] != 68]
win_seed_sort = win_seed_sort.sort_values('win_seed')

In [37]:
schools, wins = np.unique(win_seed_sort['win_school_ncaa'], return_counts = True)

In [38]:
shl_wins = pd.DataFrame(schools, wins).reset_index()
shl_wins.columns = ['number_wins', 'school']
shl_wins_gt50 = shl_wins[shl_wins['number_wins'] > 50]

In [ ]:
layout = go.Layout(
    margin=go.layout.Margin(
        l=40,  # left margin
        r=40,  # right margin
        b=10,  # bottom margin
        t=35  # top margin
    )
)
app = dash.Dash()   #initialising dash app
def get_line_char():
    lineChart = dcc.Graph(figure=go.Figure(layout=layout).add_trace(go.Scatter(x=win_seed_sort['win_seed'],
                                                                               marker=dict(
                                                                                   color='#351e15'))).update_layout(
        title='Line_graph', plot_bgcolor='rgba(0,0,0,0)'),
        style={'width': '100%', 'height': '40vh', 'display': 'inline-block'})
    return lineChart

def get_bar_chart():
    barChart = dcc.Graph(figure=go.Figure(layout=layout).add_trace(go.Bar(x=shl_wins['school'],y=shl_wins['number_wins'],
                                                                          marker=dict(color='#351e15'))).update_layout(
        title='Bar_graph', plot_bgcolor='rgba(0,0,0,0)'),
        style={'width': '100%', 'height': '40vh', 'display': 'inline-block'})
    return barChart

def get_scatter_plot():
    scatterPlot = dcc.Graph(figure=go.Figure(layout=layout).add_trace(go.Scatter(x=mbb_historic_sr['team_id'],
                                                                                 y=mbb_historic_sr['wins'],
                                                                                 marker=dict(
                                                                                     color='#351e15'),
                                                                                 mode='markers')).update_layout(
        title='Scatter_plot', plot_bgcolor='rgba(0,0,0,0)'),
        style={'width': '100%', 'height': '40vh', 'display': 'inline-block'})
    return scatterPlot

app.layout = html.Div([
    html.H1('Website Analytics Dashboard', style={'text-align': 'center', 'background-color': '#ede9e8'}),
    get_line_char(),
    get_bar_chart(),
])


if __name__ == '__main__': 
    app.run_server()

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app '__main__'
 * Debug mode: off

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:8050
Press CTRL+C to quit
127.0.0.1 - - [01/Oct/2022 16:56:21] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [01/Oct/2022 16:56:22] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [01/Oct/2022 16:56:22] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [01/Oct/2022 16:56:22] "GET /_dash-component-suites/dash/dcc/async-graph.js HTTP/1.1" 304 -
127.0.0.1 - - [01/Oct/2022 16:56:22] "GET /_dash-component-suites/dash/dcc/async-plotlyjs.js HTTP/1.1" 304 -
127.0.0.1 - - [01/Oct/2022 16:56:47] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [01/Oct/2022 16:56:47] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [01/Oct/2022 16:56:47] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [01/Oct/2022 16:56:47] "GET /_dash-component-suites/dash/dcc/async-graph.js HTTP/1.1" 304 -
127.0.0.1 - - [01/Oct/2022 16:56:47] "GET /_dash-component-suites/dash/dcc/async-plotlyjs.js HTTP/1.1" 304 -
127.0.0.1 - - [01/Oct/2022 16:59:38] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [01/Oct/2022 16:59:38] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [01/Oct/2022 16:59:38] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [01/Oct/2022 16:59:38] "GET /_dash-component-suites/dash/dcc/async-graph.js HTTP/1.1" 304 -
127.0.0.1 - - [01/Oct/2022 16:59:38] "GET /_dash-component-suites/dash/dcc/async-plotlyjs.js HTTP/1.1" 304 -